<h3>About The Advertiser</h3>

<div>
    <p class="text-info" style="text-shadow: 1px 1px purple; font-family: fontFaceAdv"><b>
        Our headquarters are located in Tel Aviv, Israel <br/>
        And we are looking for new business partners!
        <br/><br/>
        Come visit us, the weather is: </b><img id="wicon"/> <b id="wstate"></b>
    </p>
</div>

<video style="position: absolute; width: 100%; height: 60%" controls>
    <source src="../../video/AdvertisingVideo.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>