<h3><i class="fa fa-angle-right"></i> Edit Ad </h3>

<form class="form-group">
    <accordion close-others="oneAtATime">
        <accordion-group heading="General data" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
            <label for="usr">Name:</label>    <input  type="text" class="form-control" ng-model="ad.name" required="true" placeholder="How shall we call the ad?"/><br />
            <label for="usr">Owner:</label>   <input type="text" class="form-control" ng-model="ad.owner" required="true" placeholder="you ?"/><br />
            <label for="usr">Field:</label>   <input type="text" class="form-control" ng-model="ad.fields" required="true" placeholder="What is the ad field?"/><br />
            <label for="usr">Display station:</label>
                <select class="form-control" ng-model="ad.stationId" ng-required="true">
                    <option value="{{ad.stationId}}" selected> {{ad.stationId}} </option>
                    <option ng-repeat="stationOpt in optionalStations" ng-if="stationOpt.id != ad.stationId" value="{{stationOpt.id}}">{{stationOpt.id}}</option>
                </select><br />
            <label for="usr">Invested money : </label> <input type="number" class="form-control" ng-model="ad.moneyInvested" required="true" min="200" max="5000" ><br />
        </accordion-group>
        <accordion-group heading="Texts">
            <label for="usr"> Text 1 : </label> <input type="text" class="form-control" ng-model="ad.texts[0].text" /><br />
            <label for="usr"> Text 2 : </label> <input type="text"  class="form-control" ng-model="ad.texts[1].text" /><br />
            <label for="usr"> Text 3 : </label> <input type="text" class="form-control" ng-model="ad.texts[2].text" /><br />
            <label for="usr"> Text 4 : </label> <input type="text" class="form-control" ng-model="ad.texts[3].text" /><br />
            <label for="usr"> Text 5 : </label> <input type="text" class="form-control" ng-model="ad.texts[4].text" /><br />
        </accordion-group>
        <accordion-group heading="Images">
            <label for="usr"> Image 1 : </label> <input type="text" class="form-control" ng-model="ad.images[0].url" /><br />
            <label for="usr"> Image 2 : </label> <input type="text" class="form-control" ng-model="ad.images[1].url" /><br />
        </accordion-group>
        <accordion-group heading="Display dates">
            <div class="row">
                <div class="col-md-4">
                    <label style="padding-left: 20px;" for="usr"> Start date : {{ad.timeFrame.startDate | date : longDate }}</label>
                    <datepicker ng-model="ad.timeFrame.startDate"  required="true" show-weeks="true" class="well well-sm"></datepicker>
                </div>
                <div class="col-md-4">
                    <label style="padding-left: 20px;" for="usr"> End date : {{ad.timeFrame.endDate | date : longDate }}</label>
                    <datepicker ng-model="ad.timeFrame.endDate"  required="true" show-weeks="true" class="well well-sm"></datepicker>
                </div>
            </div>
        </accordion-group>
    </accordion>

    <button  class="btn btn-theme" ng-click="doEdit()" value="Update">Update</button>
</form>

<div>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>