<h3><i class="fa fa-angle-right"></i> Manage Your Ads</h3>
<div class="row">
    <div class="col-md-12">
        <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> Managing {{ads.length}} Ads Total </h4>
            <hr>
            <table ng-table="tableParams" show-filter="true" class="table table-striped table-bordered table-hover table-condensed">
                <!-- Data rows -->
                <tr data-ng-repeat="ad in $data">
                    <td data-title="'name'" sortable="'name'" filter="{ 'name': 'text' }">{{ad.name}}</td>
                    <td data-title="'Station'" sortable="'stationId'" filter="{ 'stationId': 'text' }">{{ad.stationId}}</td>
                    <td data-title="'owner'" sortable="'owner'" filter="{ 'owner': 'text' }"> {{ad.owner}}</td>
                    <td data-title="'Field'" sortable="'fields'" filter="{ 'fields': 'text' }">{{ad.fields}}</td>
                    <td data-title="'Budget'" sortable="'moneyInvested'">{{ad.moneyInvested}}</td>
                    <td data-title="'Start date'" >{{ad.timeFrame.startDate | date:'longDate'}}</td>
                    <td data-title="'End date'" > {{ad.timeFrame.endDate | date:'longDate'}}</td>
                    <td>
                        <a ng-href="#/manage/editAd/{{ad._id}}">
                            <button class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></button>
                        </a>
                        <a href="#/manage/" ng-click="callDelete(ad._id)">
                            <button class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button>
                        </a>
                    </td>
                </tr>
            </table>
            <div style="margin: 1%">
                <button class="btn btn-primary" style="border: double; border-radius: 10px;">Create New Ad</button>
            </div>
        </div>
    </div>
</div>